*{
    margin: 0;
    padding: 0;
}
div{
    background-color: rgb(26, 26, 26);
    border: 3px solid darkred;
}
li{
  color: azure;  
  padding: 10px;
}
ul {
  list-style: none;
}
.active {
    background-color: darkred;
}